<div class="row" ng-controller="CartController">
    <div class="col-md-4">
        <my-dev-details ng-model="developer" show-back-button="true"></my-dev-details> <!--custom directive-->
    </div>
    <div class="col-md-4">
        <h2>Add to Cart</h2>
        <form role="form">
            <div class="form-group">
                <label for="price">Price:</label>
                <input type="text" class="form-control" id="price" ng-model="developer.Price" disabled style="width: 100%">
            </div>
            <div class="form-group">
                <label for="hours">Amount of Hours:</label>
                <input type="number" class="form-control" id="hours" ng-model="hours" min="1" max="9999" style="width: 100%">
            </div>
            <div class="panel panel-primary" style="width: 280px">
                <div class="panel-body">
                    <div class="col-md-6 text-left text-primary"><strong>Item Total:</strong></div>
                    <div class="col-md-6 text-right">
                        <strong class="text-primary">{{developer.Price * hours | currency}}</strong>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-success" ng-click="addToCart()">Add to Cart</button>
        </form>
    </div>
</div>
