<div>
    <div class="cart row">
        <h2>Cart</h2>
        <table class="table">
            <thead>
                <tr>
                    <th style="width: 40%">Username</th>
                    <th style="width: 15%">Price</th>
                    <th style="width: 15%">Hours</th>
                    <th style="width: 15%">Total Price</th>
                    <th style="width: 14%"></th>
                </tr>
            </thead>
            <tbody>
                <tr class="product" ng-repeat="(key, item) in cart.Items">
                    <td>
                        <div class="media">
                            <div class="media-left media-middle">
                                <a href="{{'http://github.com/' + item.Developer.UserName }}" target="_blank">
                                    <img src="{{item.Developer.ImageUrl}}" width="48" height="48" alt="{{user.UserName}}" data-toggle="tooltip" data-placement="left" title="{{item.Developer.UserName}}" />
                                </a>
                            </div>
                            <div class="media-body media-jogador">
                                <span class="text-muted">{{item.Developer.UserName}}</span><br />
                                <a href="{{'http://github.com/' + item.Developer.UserName }}"><strong>{{item.Developer.FullName}}</strong></a>
                                <a href="{{'http://github.com/' + item.Developer.UserName }}" ng-show="{{ item.Developer.FullName === null }}"><strong>{{item.Developer.UserName}}</strong></a>
                            </div>
                        </div>
                    </td>
                    <td>{{item.Developer.Price | currency}}</td>
                    <td>{{item.AmountOfHours}}</td>
                    <td>{{item.TotalPrice | currency}}</td>
                    <td><button class="btn btn-danger pull-right" ng-click="removeFromCart(item.Developer.Id)">Remove</button></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="totalizer row" style="padding-top: 40px">
        <div class="col-sm-6 col-sm-offset-6 text-right">
            <div class="row">
                <table class="table">
                    <tbody>
                        <tr class="total" ng-show="hasItems">
                            <td>
                                <span class="vcenter">Discount Coupon</span>
                            </td>
                            <td>
                                <form class="form-inline" role="form">
                                    <div class="form-group">
                                        <input type="text" class="form-control input-sm" name="discount" placeholder="type your coupun here" ng-model="coupon" />
                                        <button class="btn btn-primary btn-sm" ng-click="applyDiscount()">Apply Discount</button>
                                        <div class="text-danger text-left" ng-show="invalidCoupon">Invalid coupon</div>
                                    </div>
                                </form>
                            </td>
                        </tr>
                        <tr class="total" ng-show="hasDiscount">
                            <td>Total Items Price</td>
                            <td>{{cart.TotalPrice | currency}}</td>
                        </tr>
                        <tr class="total" ng-show="hasDiscount">
                            <td>Discount</td>
                            <td class="text-success">{{cart.Coupon.Key}}: {{cart.Coupon.Description}} - <strong>{{cart.Discount | currency}}</strong></td>
                        </tr>
                        <tr class="total">
                            <td>Total</td>
                            <td><strong>{{cart.CartPrice | currency}}</strong></td>
                        </tr>
                        <tr ng-show="hasItems">
                            <td>&nbsp;</td>
                            <td><button class="btn btn-success" ng-click="finishTheOrder()">Finish the order!</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>