<div>
    <div class="cart row">
        <h2>Cart</h2>
        <table class="table">
            <thead>
                <tr>
                    <th style="width: 40%">Username</th>
                    <th style="width: 15%">Price</th>
                    <th style="width: 15%">Hours</th>
                    <th style="width: 15%">Total Price</th>
                    <th style="width: 14%"></th>
                </tr>
            </thead>
            <tbody>
                <tr class="product" ng-repeat="(key, item) in cart.Items">
                    <td>
                        <div class="media">
                            <div class="media-left media-middle">
                                <a href="http://github.com/" target="_blank">
                                    <img src="{{item.Developer.ImageUrl}}" width="48" height="48" alt="{{user.UserName}}" data-toggle="tooltip" data-placement="left" title="{{item.Developer.UserName}}" />
                                </a>
                            </div>
                            <div class="media-body media-jogador">
                                <span class="text-muted">{{item.Developer.UserName}}</span><br />
                                <a href="#"><strong>{{item.Developer.FullName}}</strong></a>
                            </div>
                        </div>
                    </td>
                    <td>{{item.Developer.Price | currency}}</td>
                    <td>{{item.AmountOfHours}}</td>
                    <td>{{item.TotalPrice | currency}}</td>
                    <td><button class="btn btn-danger pull-right" ng-click="removeFromCart(item.Developer.Id)">Remove</button></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="totalizer row">
        <div class="col-sm-6">
            <div class="row">
                <table class="table">
                    <tbody>
                        <tr class="total">
                            <td>
                                <span class="vcenter">Cupon de Desconto</span>
                            </td>
                            <td>
                                <form class="form-inline" role="form">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="desconto" placeholder="digite seu cupon aqui" ng-model="cupomDesconto" />
                                        <button class="btn btn-primary">Aplicar Desconto</button>
                                        <div class="hide">Sem desconto</div>
                                    </div>
                                </form>
                            </td>
                        </tr>
                        <tr class="total">
                            <td>Total</td>
                            <td><strong>{{cart.TotalPrice | currency}}</strong></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>