<div ng-controller="DevelopersController">
    <div class="row">
        <h2>Search a developer</h2>
        <form class="form-inline" role="form">
            <div class="form-group">
                <input type="text" placeholder="GitHub Username / Organization" class="form-control" ng-model="searchKey" style="width: 240px">
            </div>
            <button type="submit" class="btn btn-info" ng-click="searchDeveloperOnGithub()">Search on GitHub</button>
            <button type="submit" class="btn btn-default" ng-click="searchOnGithubByOrganization()">Search by Organization</button>
        </form>
    </div>
    <div class="devs row">
        <h2>Developers</h2>
        <table class="table">
            <thead>
                <tr>
                    <th style="width: 30%">Username</th>
                    <th style="width: 12%">Repos</th>
                    <th style="width: 12%">Followers</th>
                    <th style="width: 12%">Following</th>
                    <th style="width: 12%">Price</th>
                    <th style="width: 12%"></th>
                </tr>
            </thead>
            <tbody>
                <tr class="product" ng-repeat="(key, dev) in developers">
                    <td>
                        <my-dev-mini-view ng-model="dev" show-details="showDetails(dev.Id)"></my-dev-mini-view> <!--custom directive-->
                    </td>
                    <td>{{dev.Repositories}}</td>
                    <td>{{dev.Followers}}</td>
                    <td>{{dev.Following}}</td>
                    <td>{{dev.Price | currency}}</td>
                    <td><button class="btn btn-success pull-right" ng-click="addNewItem(dev.Id)">Add to cart</button></td>
                </tr>
            </tbody>
        </table>
    </div>
    <my-modal-dev-details ng-model="devDetail" show-buy-button="true" buy-button-click="addNewItem(devDetail.Id)"></my-modal-dev-details> <!--custom directive-->
</div>
