<div ng-controller="DevelopersController">
    <div class="row">
        <h2>Search a developer</h2>
        <form class="form-inline" role="form">
            <div class="form-group">
                <input type="text" placeholder="GitHub Username / Organization" class="form-control" ng-model="searchKey" style="width: 240px">
            </div>
            <button type="submit" class="btn btn-info" ng-click="searchDeveloperOnGithub()">Search on GitHub</button>
            <button type="submit" class="btn btn-default" ng-click="searchOnGithubByOrganization()">Search by Organization</button>
        </form>
    </div>
    <div class="devs row">
        <h2>Developers</h2>
        <table class="table">
            <thead>
                <tr>
                    <th style="width: 30%">Username</th>
                    <th style="width: 12%">Repos</th>
                    <th style="width: 12%">Followers</th>
                    <th style="width: 12%">Following</th>
                    <th style="width: 12%">Price</th>
                    <th style="width: 12%"></th>
                </tr>
            </thead>
            <tbody>
                <tr class="product" ng-repeat="(key, dev) in developers">
                    <td>
                        <div class="media">
                            <div class="media-left media-middle">
                                <a href="#/" ng-click="showDetails(dev.Id)">
                                    <img src="{{dev.ImageUrl}}" width="48" height="48" alt="{{dev.UserName}}" data-toggle="tooltip" data-placement="left" title="{{dev.UserName}}" />
                                </a>
                            </div>
                            <div class="media-body media-jogador">
                                <span class="text-muted">{{dev.UserName}}</span><br />
                                <a href="#/" ng-click="showDetails(dev.Id)"><strong>{{dev.FullName}}</strong></a>
                                <a href="#/" ng-click="showDetails(dev.Id)" ng-show="{{ dev.FullName === null }}"><strong>{{dev.UserName}}</strong></a>
                            </div>
                        </div>
                    </td>
                    <td>{{dev.Repositories}}</td>
                    <td>{{dev.Followers}}</td>
                    <td>{{dev.Following}}</td>
                    <td>{{dev.Price | currency}}</td>
                    <td><button class="btn btn-success pull-right" ng-click="addNewItem(dev.Id)">Add to cart</button></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal fade" id="popupDevDetails">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Developer Details</h4>
                </div>
                <div class="modal-body" id="popupDetailsBody">
                    <my-dev-details ng-model="devDetail"></my-dev-details> <!--custom directive-->
                </div>
                <div class="modal-footer">
                    <a href="{{'http://github.com/' + devDetail.UserName }}" target="_blank" class="btn btn-info">See on GitHub</a>
                    <button class="btn btn-success pull-right" ng-click="addNewItem(devDetail.Id)">Add to cart</button>
                </div>
            </div>
        </div>
    </div>
</div>
